
{% extends 'base.html' %}

{% block title %} meroSathi || Answers {% endblock %}

{% block content %}

    <div class="">
        <div class="row">
            <div class="col-md-4 col-sm-4 ">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Posts <small>Answers</small></h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="dashboard-widget-content">

                            <ul class="list-unstyled timeline widget">
                                <li>
                                    <div class="block">
                                        <div class="block_content">
                                            <h2 class="title">
                                                {{ questions.question_text }}
                                            </h2>
                                            <div class="byline">
                                                <span>{{ questions.post_date }}</span> by <a>{{ questions.author }}</a>
                                            </div>
                                            {% for data in answers %}
                                                <p> <b> {{ data.ans_author }} Answers: </b>  {{ data.answer_text }}</p>
                                            {% endfor %}
                                            </p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}